.container {
    background: #1D1D28;
    padding: 40px 20px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.about {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    flex-wrap: wrap;
    gap: 20px;
}

.telegram {
    height: 32px;
    width: 32px;
}

hr {
    border: 0;
    height: 1px;
    background: gray;
    margin: 20px 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: white;
    padding: 0 10px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 150px;
}

.links p {
    margin-bottom: 5px;
}

.links a {
    color: gray;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: white;
}

@media (max-width: 768px) {
    .container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .about {
        flex-direction: row;
        text-align: center;
    }

    .links {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 20px;
    }

    .about {
        font-size: 16px;
    }

    .telegram {
        height: 28px;
        width: 28px;
    }

    .links {
        padding: 0;
    }
}